{% extends 'base.html.twig' %}

{% block title %} {{ gig.pub.name }}{% endblock %}

{% block body %}
    {% if app.session.flashBag.get('success') %}
        {{ flashMessage }}
    {% endif %}
    <section class="container">
        <h4>welcome {{ musician.fullName }}, You're now registered on {{ gig.pub.name }} Gig at {{ gig.pub.address }}
            {{ gig.dateStart|date('Y-m-d') }}</h4>
        <br>
        <img src="{{ asset('uploads/' ~ musician.image) }}" alt="{{ musician.image }}">
        <br>
        {{ musician.email }}
        <br>
        {{ musician.fullName }}
    </section>

{% endblock %}